# Copy this file to .env and fill in real values
GOOGLE_API_KEY=your_actual_gemini_api_key_here
CHAINLIT_AUTH_SECRET=paste_the_64char_string_created_using_"openssl rand -hex 32"_command
CHAINLIT_TELEMETRY_ENABLED=false